const getJobs = async () => {
    try {
      /*  const params = new URLSearchParams();
      params.append("searchJobText", searchJobText);
      params.append("keywords", keywords);
      params.append("keywordsNumber", keywordsNumber);
      params.append("jobType", jobType);
      params.append("jobTitle", jobTitle);
      params.append("minSalary", minSalary);
      params.append("searchMinSalaryText", searchMinSalaryText);
      params.append("searchMaxSalaryText", searchMaxSalaryText); */
      /*       setIsError(false);
      setIsLoading(true); */

      const results = await axios.get(`http://localhost:4000/jobs?`);
      console.log("getJobs", results.data.data);
      setJobs(results.data.data);
      setFilter(results.data.search);

      /*       setIsLoading(false); */
    } catch (error) {
      /*       setIsError(true);
      setIsLoading(false); */
    }
    return {
      jobs,
    };
  };